<section id="editUser">
	<div class="editUserHeader">
		<h3>Account Settings</h3>
		<i>X</i>
	</div>
	<div>
	<label for="username"></label>
	<input type="text" class="text" id="username" placeholder="">
	<label for="email"></label>
	<input type="text" class="text" id="email" placeholder="">
	<label for="comapny"></label>
	<input type="text" class="text" id="comapny" placeholder="">
	<label for="skills"></label>
	<input type="text" class="text" id="skills" placeholder="">
	<label for="password"></label>
	<input type="text" class="text" id="password" placeholder="">
	</div>
</section>