<%- include('partials/header.ejs', {page: "404"}) %>

<div class="container f04page">
	<div class="f04msg">
		<div class="f04Text">
			<h1>404</h1>
			<h4>We couldn't find that page</h4>
		</div>
		<img src="imgs/404Illu.png" alt="We cannot find the page you are looking for">
	</div>
</div>

<%- include ./partials/footer.ejs %>