<%- include('partials/header.ejs', {page: "Home"}) %>

<div class="container">
	<div class="home">

		<div class="hero">
			<div class="homeText">
				<h1>Makerblog</h1>
				<h4>The blogging platform for your project</h4>
			</div>
			<img class="full-width homeImg" src="imgs/pageIllu.png" alt="page illustration">
		</div>

		<div class="about">
			<div class="card">
				<img src="/imgs/work-n-blog.png" alt="">
				<p>Log your progress while you work</p>
			</div>
			<div class="card">
				<img src="/imgs/all-in-one-place.png" alt="">
				<p>Collect your projects onto your profile</p>
			</div>
			<div class="card">
				<img src="/imgs/show-off.png" alt="">
				<p>Show off your work</p>
			</div>
		</div>
	</div>

</div>

<%- include ./partials/login.ejs %>

<%- include ./partials/footer.ejs %>